body {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  min-height:100vh;
  flex-direction:column;
  font-family: 'Open Sans', sans-serif;
}

.map {
  flex-grow:1;
}
.content{
  flex-grow: 1;
  display:flex;
}

.slide-section {
  z-index: 1000;

  display: flex;
  flex-direction: column;

  box-shadow: -0.5rem 0 1rem grey;
  padding: 1rem;
  width: 50rem;
}

.slide-content {
  align-items: center;
  flex-grow: 1;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;
  width: 130px;
  height:50px;
  text-align:center;
  padding: 0;
  margin: 1rem;
  border: 1px solid #888;
  border-radius: 0.25rem;
  text-shadow: 1px 1px black;
  color:white;
  background-color: #6495ED;
  font-size: 20px;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}
.slide-time{
  display:inline;
}
.slide-location{
  display:inline;
}
.slide-Total_nations{
  display:inline;
}
.slide-Total_events{
  display:inline;
}
.navbar-brand {
  padding: 1rem;
  left: 0px;
  width: 100%;
  margin: auto;
  top: 0;
  height: 10%;
  overflow-y: auto;
  font-size: 16px;
  background-image: linear-gradient(to right, rgb(65, 105, 225), rgb(100, 149, 237));
  opacity: 0.95;
  color: #6495ED ;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
