body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 17px;
}

p.intro {
  font-size: 14px;
  line-height: 1.5;
}


.map {
    position: absolute;
    left: 0px;
    width: 88%;
    height: 100%;
    bottom: 0;
}

.sidebar {
    position: absolute;
    border-radius: 35px;
    left: 23px;
    width: 20%;
    height: 60%;
    top: 10%;
    overflow-y: auto;
    opacity: 0.91;
    padding: 20px;
    font-size: 16px;
    background-image: linear-gradient(rgb(242, 209, 109), rgb(242,214,179));
    color: #ffffff ;
}

.sidebar2 {
  position: absolute;
  border-radius: 35px;
  right: 20px;
  width: 25%;
  height: 73%;
  top: 15%;
  overflow-y: auto;
  opacity: 0.78;
  padding: 20px;
  font-size: 16px;
  background-image: linear-gradient(rgb(243,243,242), rgb(200,206,212));
  color: #ffffff ;
}


.legend {
  position:absolute;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 2000;
  opacity: 0.85;
}


.navbar-brand {
  position: absolute;
  right: 0px;
  width: 12%;
  top: 0;
  height: 100%;
  overflow-y: auto;
  font-size: 16px;
  background-image: linear-gradient(to right, rgb(246,246,245), rgb(242, 209, 109));
  opacity: 0.95;
  color: #380000 ;
  font-size: 1rem;
 
}

.btnleft{
  position: absolute;
  bottom: 10%;
  left: 20px;
}

.btnright{
  position: absolute;
  bottom: 10%;
  right: 20px;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.2rem 1.5rem;
  font-size: 0.86rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #ffffff;
  position: absolute;
}


.rounded-pill {
  border-radius: 5rem;
}

.btn-primary {
  background-color: #D9896C;
  border-color: #BF4124;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #BF4124!important;
  border-color: #BF4124 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.my-legend{
  position:absolute;
  left: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.32);
  fill-opacity: 0.45;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid rgba(153, 153, 153, 0);
  }
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }