body {
  display: flex;

  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;
}



.map {
  width: 100%;
}

.slide-section {
  z-index: 1000;

  display: flex;
  flex-direction: column;

  box-shadow: -0.5rem 0 1rem grey;
  padding: 1rem;
  width: 50rem;
}

.slide-content {
  flex-grow: 1;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: right;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 1;
  margin: 1rem;
  width: 5rem;
  height: 3rem;
  border: 1px dashed #888;
  border-radius: 0.5rem;


  background-color: #eee;
  font-size: 1em;
  font-weight: 2em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}


.slide-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0, 10px, 0;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px #808080;
}

.button:hover{
  background-color: #808080;
  transition: 0.5s;
}

