body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}

.topnav,
.content,
.sidebar,
.map {
  border: 1px solid red;
}

.topnav {
  padding: 1rem;
  background-color: #eee;
  color: #222;
}

.sidebar {
  width: 15rem;
}

.map {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
}
